<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyyMMdd HH:mm:ss}] - %c - %p - %m%n"/>
        </layout>
    </appender>
    <!--
    <appender name="RemoteAppender" class="org.apache.log4j.net.SocketAppender">
        <param name="Port" value="4560"/>
      <param name="RemoteHost" value="localhost"/>
      <param name="ReconnectionDelay" value="60000"/>
      <param name="Threshold" value="INFO"/>
    </appender>
  -->
    <!--
      <appender name="FileAppender" class="org.apache.log4j.DailyRollingFileAppender">
            <param name="file" value="c:/temp/merchantserver.log"/>
            <param name="datePattern" value="'.'yyyy-MM-dd"/>
            <param name="append" value="true"/>
            <layout class="org.apache.log4j.PatternLayout">
                    <param name="ConversionPattern" value="[%d{yyyyMMdd HH:mm:ss}] - %c - %p - %m%n"/>
            </layout>
      </appender>
     -->
    <root>
        <priority value="debug"/>

        <appender-ref ref="ConsoleAppender"/>

    </root>

</log4j:configuration>